@model DummyBazaarBerko.Models.Category
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="form">
    <div class="formtitle">
        <h3>Kategori Ekle</h3>
    </div>
    <div class="formcontent">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div>
                @Html.LabelFor(model => model.Name)
                <br />
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Description)
                <br />
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div>
                <input type="submit" value="Kategori EKle" />
            </div>
        }
    </div>
</div>

